.py-10 {
  padding: 10px 0px;
}
.cursor-pointer {
  cursor: pointer;
}
.d-flex {
  display: flex;
}
.latest-news,
.post-sidebar-slider,
.more-news,
.related-posts {
  position: relative;
}
.swiper-button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 4px;
}
.swiper-button span {
  background: none;
  border: 1px solid #dedede;
  color: #999;
  width: 20px;
  height: 20px;
  line-height: 19px;
  padding: 0;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  vertical-align: middle;
  cursor: pointer;
}
.swiper-button span:hover {
  color: #fff;
  background-color: #ec0000;
  border: none;
}

.swiper-button-header {
  position: absolute;
  bottom: 0px;
  left: 3px;
  display: flex;
  gap: 4px;
  z-index: 100;
  justify-content: space-between;
  right: 16px;
  top: 0;
  align-items: center;
}
.swiper-button-header-r {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: #dedede;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}
.swiper-button-header-l {
  position: absolute;
  top: 50%;
  left: 2px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: #dedede;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}
.object-fit-cover {
  object-fit: cover;
}
.buy-block {
  position: absolute;
  top: 20px;
  left: 20px;
}
.buy-block button {
  outline: none;
  display: block;
  line-height: 32px;
  font-size: 12px;
  padding: 0px 10px;
  color: #fff;
  background: #282828;
  text-align: center;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  border: none;
}
.newest-comment-info {
  display: flex;
  flex-direction: column;
  gap: 2;
}
.newest-comment-info div {
  display: flex;
  gap: 4;
}
.search-box-result {
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  top: 15px;
  padding: 8px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
@media (max-width: 991px) {
  .logo-top {
    display: none;
  }
}
