.about-home-media {
    position: relative;
  }
  .play-video {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-video::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 22px solid #fff;
    border-bottom: 12px solid transparent;
    cursor: pointer;
  }
  .play-video::before {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    background-color: rgb(66, 190, 180);
    border-radius: 50%;
  }
  .video-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    cursor: pointer;
  }
  .video-background-none {
    display: none;
  }
  .close-video {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 25px;
    z-index: 1000;
    cursor: pointer;
    z-index: 1000;
    color: #fff;
  }
  .video-react-service {
    width: 900px;
    max-width: 100% !important;
    position: fixed;
    left: 0;
    top: 25%;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    display: none !important;
  }
  .video-block {
    display: block !important;
  }
  #about-video {
    border-radius: 28px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
  }